$neon:skyblue;

#clear
{
    clear: both;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: sans-serif;
}
.key-container
{
    background-color: rgb(45,45,45);
    color: $neon;
    margin: 10vh auto;
    padding: 10vh 20%;
    textarea
    {
        display: block;
        margin: 20px auto;
    }
    .key
    {
        cursor: pointer;
        display: block;
        float: left;
        border-radius: 5px;
        transition-duration: 0.07s;
        border: 2px solid $neon;
        padding: 12px;
        width: 30%;
        margin: 1%;
        height: 10vh;
        min-height: 40px;
        position: relative;
        .key-text
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-transform: uppercase;
            .key-sound
            {
                color: rgb(0, 161, 224);
                font-size: 0.9em;
                font-weight: normal;
            }
            span
            {
                font-weight: bold;
                margin: 5px;
                text-align: center;
                font-size: larger;
                display: block;
                text-shadow: 0 0 5px rgba(0, 155, 255,0.5);
            }
        }
        .overlay
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}
.playing
{
    transform: scale(1.1);
    background-image: linear-gradient(rgb(40, 40, 40), rgb(45, 45, 45));
    box-shadow: 0 0 15px rgb(0, 183, 255);
}