$neon:rgb(96, 210, 255);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#clear
{
    clear: both;
}
header
{
    color: white;
    background-color: rgb(30, 30, 30);
    height: 20vh;
    position: relative;
    h1
    {
        color: rgb(204, 204, 204);
        text-align: center;
        font-size: 3em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.tuet
{
    overflow: hidden;
    background-color: rgb(22, 22, 22);
    color: rgb(204, 204, 204);
    text-align: center;
    h2,h3
    {
        margin: 10px;
        font-weight: normal;
    }
    li
    {
        color: white;
        margin: 10px;
        list-style-type: none;
    }
}
.key-container
{   
    background-color: rgb(45,45,45);
    color: $neon;
    margin: 0 auto;
    padding: 10vh 20%;
    textarea
    {
        display: block;
        margin: 20px auto;
    }
    .key
    {
        overflow: hidden;
        cursor: pointer;
        display: block;
        float: left;
        transition-duration: 0.07s;
        border: 2px solid $neon;
        padding: 12px;
        width: 30%;
        margin: 1.5%;
        height: 10vh;
        position: relative;
        box-shadow: 0 0 7px rgb(0, 0, 0);
        .key-text
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-transform: uppercase;
            font-size: 2em;
            .key-sound
            {
                color: rgb(0, 161, 224);
                font-size: 0.5em;
            }
            span
            {
                margin: 5px;
                text-align: center;
                font-size: larger;
                display: block;
            }
        }
        .overlay
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}
.playing
{
    transform: scale(1.1);
    background-image: linear-gradient(rgb(40, 40, 40), rgb(45, 45, 45));
    box-shadow: 0 0 15px rgb(0, 183, 255);
}
footer
{
    background-color: rgb(30, 30, 30);
    color: gray;
    position: relative;
    span
    {
        padding: 5.5vh;
        display: block;
        text-align: center;
        a
        {
            text-decoration: none;
            color: rgb(0, 161, 224);
            &:hover
            {
                color: rgb(96, 210, 255);
            }
            &:active
            {
                color: rgb(96, 210, 255);
            }
        }
    }
}
@media only screen and (max-width: 500px)
{
    header
    {
        font-size: 2em;
        position: relative;
        h1
        {
            font-size: 1em;
        }
    }
    .key-container
    {
        .key
        {
            .key-text
            {
                font-size: 1.1em;
            }
        }
    }
}